@use 'colors' as *;
@use 'variables' as *;

body {
    font-family: 'Inter', sans-serif;
    background-color: $pink;
}

.container {
    width: $container;
    margin: 0 auto;
    @media (max-width: $mediaContainer) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

h1, h2, h3 {
    font-family: 'Marcellus', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding-left: 0;
    list-style: none;
}

input,
textarea,
select,
button {
  all: unset;
  box-sizing: border-box;
}

@media (max-width: $mediaTablet) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 25px;
    }
}  

@media (max-width: $mediaMobile) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }
}  