@use '../base' as *; 

.blog {

    color: $greenL4;
    background-repeat: no-repeat;
    background-position: top;    
    
    &__container {
        padding-top: 64px;
    }

    &__items {
        margin-top: 44px;
        display: flex;
        flex-wrap: wrap;
        gap: 27px;
    }

    &__item {
        width: 400px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-image {
            padding: 24px;
            height: 289px;
            background-color: $greenL3;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 24px;
        }

        &-date {
            margin-bottom: 24px;
            padding-left: 30px;
            font-size: 18px;
            background-image: url('data:image/svg+xml,<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_105_657)"><path d="M16.4259 1.52246H14.7098V0.299213C14.7098 0.136406 14.5778 0 14.415 0C14.2522 0 14.1202 0.132006 14.1202 0.299213V1.52246H9.80361V0.299213C9.80361 0.136406 9.67161 0 9.5088 0C9.34599 0 9.21399 0.132006 9.21399 0.299213V1.52246H4.89741V0.299213C4.89741 0.136406 4.7654 0 4.60259 0C4.43979 0 4.30778 0.132006 4.30778 0.299213V1.52246H2.59171C1.15285 1.52246 0 2.67531 0 4.09657V16.4259C0 17.8472 1.15285 19 2.57411 19H16.4215C17.8428 19 18.9956 17.8472 18.9956 16.4259V4.09657C19 2.67531 17.8472 1.52246 16.4259 1.52246ZM16.4259 18.406H2.57411C1.47846 18.406 0.594025 17.5171 0.594025 16.4259V7.30871H18.406V16.4259C18.406 17.5171 17.5171 18.406 16.4259 18.406ZM18.406 6.71468H0.594025V4.09657C0.594025 3.00533 1.48286 2.11649 2.57411 2.11649H4.29018V3.74456C4.29018 3.90736 4.42219 4.04377 4.58499 4.04377C4.7478 4.04377 4.87981 3.91176 4.87981 3.74456V2.11649H9.19639V3.74456C9.19639 3.90736 9.32839 4.04377 9.4912 4.04377C9.65401 4.04377 9.78601 3.91176 9.78601 3.74456V2.11649H14.1026V3.74456C14.1026 3.90736 14.2346 4.04377 14.3974 4.04377C14.5602 4.04377 14.6922 3.91176 14.6922 3.74456V2.11649H16.4083C17.5039 2.11649 18.3884 3.00533 18.3884 4.09657V6.71468H18.406Z" fill="%23445439"/></g><defs><clipPath id="clip0_105_657"><rect width="19" height="19" fill="white"/></clipPath></defs></svg>');
            background-repeat: no-repeat;
            background-position: left center;
        }

        &-title {
            margin-bottom: 18px;
            font-size: 18px;
            text-transform: uppercase;
        }

        &-button {

        }
    }
}

.blog-single {
    color: $greenL4;
    background-repeat: no-repeat;
    background-position: top;

    &__container {
        padding-top: 86px;
        padding-bottom: 160px;
    }
}

.blog-preview {
    color: $greenL4;

    &__container {
        padding-top: 130px;
        padding-bottom: 130px;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__name  {
        margin-top: 40px;
        margin-bottom: 18px;
        font-size: 18px;
        text-transform: uppercase;
    }
}

@media (max-width: $mediaContainer) {
    .blog {
        &__items {
            gap: 12px;
            justify-content: space-between;
        }

        &__item {
            width: 32%;
        }
    }
}

@media (max-width: $mediaTablet) {
    .blog {

        &__item {
            width: 47%;
            margin-bottom: 32px;
        }
    }
}


@media (max-width: $mediaMobile) {
    .blog {

        &__item {
            width: 100%;
            margin-bottom: 16px;    
            
            &-image {
                height: 230px;
            }

            &-button {
                margin: 0 auto;
            }
        }

    }
}

@media (max-width: 1080px) {
    .blog-preview {
        &__items {
            justify-content: space-evenly;          
        }        

        &__item--2 {
            display: none;
        }
    }
}


@media (max-width: 800px) {
    .blog-preview {
        &__container {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &__items {
            justify-content: center;          
        }       
        
        &__item {
            align-items: center;
        }

        &__item--1 {
            display: none;
        }

        .polaroid {
            transform:rotate(3.5deg);
        }
    }
}

@media (max-width: $mediaTiny) {
    .blog-preview {
        &__container {
            
        }
        
        &__item {
            width: 100%;
            margin-left: 10px;
            margin-right: 10px;

            .polaroid__placeholder {
                width: 100%;
                height: 340px;
            }

            .polaroid {
                width: 90%;
                height: 340px;

                img {
                    width: 100%;
                    height: unset;
                }
            }
        }

        // &__item--1 {
        //     display: none;
        // }

        .polaroid {
            transform: unset;
        } 
    }
}