@use '../base' as *; 

.catering {
    color: $greenL4;

    &__article {
        display: flex;
        margin-bottom: 32px;
        min-height: 350px;

        &:nth-child(even) {
            flex-direction: row-reverse;

            .catering__text {
                padding: 0 0 32px 32px;
            }
        }
    }    

    &__text {
        flex: 1; 
        padding: 0 32px 32px 0;       
    }

    &__image {
        flex: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: $mediaTablet)  {
    .catering {

        &__article {
            flex-direction: column-reverse; 
            min-height: unset;
            
            &:nth-child(even) {
                flex-direction: column-reverse;

                .catering__text {
                    padding: 32px 0;    
                }
            }


        }    

        &__text {
            flex: 1; 
            padding: 32px 0;       
        }

        &__image {
            min-height: 350px;
        }
    }

}