@use '../base' as *; 

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.contacts {

    color: $greenL4;

    &__container {
        padding-top: 75px;
        padding-bottom: 70px;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__content {

        display: flex;
        justify-content: space-between;
        
        &-text {
            width: 50%;
        }

        &-data {
            width: 23%;
        }

        &-icons {
            width: 17%;
            padding-top: 24px;
            display: flex;
            gap: 8px;
        }
    }
}


@media (max-width: $mediaMiddle) {
    .contacts {
        &__content {
            flex-direction: column;

            &-text {
                width: 80%;
            }

            &-data {
                width: 100%;
            }

            &-icons {
                width: 100%;
            }
        }
    }
}


@media (max-width: 700px) {
    .contacts {
        &__content {
            flex-direction: column;

            &-text {
                width: 100%;
            }

        }
    }
}

.contacts-form {

    background-color: $greenL3;
    color: white;

    &__container {
        padding-top: 58px;
        padding-bottom: 50px;
    }

    &__title {
        margin-bottom: 32px;
        @media (max-width: 750px) {
            text-align: center;
        }              
    }

    &__content {
        display: flex;
        justify-content: space-between;        
    }

    &__polaroid {
        width: 30%;
        height: 380px;
        position: relative;

        @media (max-width: $mediaMiddle) {
            display: none;
        }        
    }

    &__form {
        width: 65%;
        @media (max-width: $mediaMiddle) {
            width: 100%;
        }          
    }

    &__fields {
        display: flex;
        gap: 32px;
        margin-bottom: 18px;
        @media (max-width: 650px) {
            flex-direction: column;
            gap: 16px;
        }         
    }

    input {
        background-color: $greenL3;
        color: white;
        font-size: 18px;
    }

    textarea {
        color: white;
        font-size: 18px;
    }

    textarea::placeholder {
        color: rgba(255, 255, 255, 0.40);
        font-size: 18px;
    }    

    input::placeholder {
        color: rgba(255, 255, 255, 0.40);
        font-size: 18px;
    }

    input[type="text"] {
        padding: 12px 22px;
        border: 1px solid white;
        border-radius: 100px;
        margin-bottom: 16px;
        @media (max-width: 650px) {
            width: 100%;
        }           
    }

    input[type="phone"] {
        padding: 12px 22px;
        border-radius: 100px;
        width: 100%;
        border: 1px solid white;
        margin-bottom: 16px;
    }   

    input[type="email"] {
        padding: 12px 22px;
        border-radius: 100px;
        width: 100%;
        border: 1px solid white;
    }       
    
    textarea {
        padding: 12px 22px;
        border-radius: 18px;
        width: 100%;
        height: 100%;
        border: 1px solid white;    
        font-size: 18px;    
        @media (max-width: 650px) {
            height: 100px;
        }               
    }

    &__agree {
        margin-bottom: 12px;
        min-height: 30px;
        padding-top: 4px;
        padding-left: 38px;
        background-image: url('data:image/svg+xml,<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="13" cy="13" r="12.5" stroke="white"/><circle cx="13" cy="13" r="7" fill="white"/></svg>');
        background-repeat: no-repeat;
        background-position: left top;        
    }

    &__result {
        margin-bottom: 12px;
        height: 20px;

        &--error {
            color: #5b0000;
        }
    }

    &__question {
        flex: 1;
    }

    &__buttons {
        @media (max-width: 650px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }           
    }

    &__button {
        width: 320px;
        text-align: center;
        display: flex;
        align-items: center;    
        justify-content: center;    

        @media (max-width: 650px) {
            width: 100%;
        }         

        .spinner {                  
            display: none;          
            margin-left: 10px;
            width: 16px;
            height: 16px;
            border: 2px solid $greenL4;
            border-top: 2px solid transparent;
            border-radius: 50%;
            animation: spin 0.6s linear infinite;
        }      
        
        &:hover {
            .spinner {
                background-color: $greenL4;
                border-top: 2px solid $pink;
                border-left: 2px solid $pink;
                border-right: 2px solid $pink;
            }
        }

        &--loading {
            .spinner {
                display: block;
            }
        }
    }
}

.contacts-logos {
    width: 100%;

    &__container {
        width: 100%;
        overflow: hidden;          
        position: relative;
        padding-top: 2px;
        padding-bottom: 70px;        
    }

    &__items {
        display: flex;
        gap: 25px;
        justify-content: center;
        width: 100%;          /* makes the flex container as wide as needed */
    }

    &__item {
        width: 260px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #A5A6A2;
        border-radius: 24px;
    }
}

@media (max-width: 1700px) {
    .contacts-logos {
        &__container {
            padding-left: 40px;
        }

        &__items {            
            justify-content: left;
            width: max-content;        
        }
    }
}


@media (max-width: $mediaTablet) {
    .contacts-logos {
        &__item {
            width: 200px;
            height: 120px;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // border: 1px solid #A5A6A2;
            // border-radius: 24px;
        }
    }
}