@use '../base' as *; 

.services-page {
    color: $greenL4;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;        
    }

    &__title {
        margin-bottom: 34px;
    }

    &__content {
        font-size: 25px;
        margin-bottom: 100px;
        width: 50%;
        text-align: center;
    }
}

@media (max-width: $mediaTablet) {
    .services-page {

        &__container {
            margin-top: 60px;        
        }

        &__title {
            margin-bottom: 34px;
        }

        &__content {
            font-size: 20px;
            margin-bottom: 80px;
            width: 100%;
            text-align: center;
        }
    }
}