@use '../base' as *; 

.article {

    padding: 134px 0;
    background-repeat: no-repeat;
    background-position: top;

    &__container {
        display: flex;
        gap: 95px;
        color: $greenL4;

        .article__left, .article__right {
            width: 50%;           
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__title {
        font-size: 45px;
        margin-bottom: 44px;
        font-family: 'Marcellus', Arial, Helvetica, sans-serif;
    }

    &__content {
        font-size: 20px;
    }

    &__slogan {
        font-size: 45px;
        margin-right: 50px;
        font-family: 'Marcellus', Arial, Helvetica, sans-serif;
    }
}