@use '../base' as *; 

.banner {
    min-height: 400px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    
    &__container {
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
        padding: 50px 0 80px 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;

        &--centered {
            align-items: center;            

            p {
                margin: 0;
                text-align: center;
            }
        }
    }

    &__description {
        max-width: 50%;
    }

    &__gift {
        width: 600px;
        position: relative;
    }

    .gift {
        position: absolute;
        bottom: -60px;
        left: -60px;
    }
}

@media (max-width: $mediaContainer) {
    .banner {
        &__container {
            padding: 50px 20px 80px 20px;
        }
    }
}

@media (max-width: 1200px) {
    .banner {
        &__gift {
            width: 800px;
        }        
    }
}

@media (max-width: $mediaTablet) {
    .banner {
        &__container {
            flex-direction: column-reverse;
            align-items: center;
            padding: 40px 60px;
        }     

        
        &__description {
            max-width: 100%;
        }
        
        &__title {
            text-align: center;
        }

        &__content {
            align-items: center;
        }

        &__gift {
            width: 300px;
            height: 300px;
            margin-bottom: 40px;
        }        
    }
}