.banner {
    height: 400px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    
    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }

    &__title {

    }
}