@use '../base' as *; 

.btn {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;

    &--middle {
        font-size: 14px;
        padding: 10px 23px;
        border-radius: 100px;

        @media (max-width: $mediaMobile) {
            font-size: 12px;
            padding: 8px 18px;           
        }        
    }

    &--large {
        font-size: 18px;
        padding: 12px 40px;
        border-radius: 100px;

        @media (max-width: $mediaMobile) {
            font-size: 14px;
            padding: 8px 24px;
        }           
    }

    &--gigantic {
        font-size: 18px;
        padding: 21px 47px;
        border-radius: 100px; 
        @media (max-width: $mediaMobile) {
            font-size: 14px;
            padding: 14px 26px;
        }              
    }

    &--green {
        background-color: $greenL3;
        border: 1px solid $greenL4;
        color: $pink;
        font-weight: 600; 
        transition: 0.3s ease;     
        
        &:hover {
            background-color: $greenL4;
            // border: 1px solid $greenL4;
            // color: $pink;
            transition: 0.3s ease;
        }
    }

    &--white {
        background-color: $pink;
        border: 1px solid $greenL4;
        color: $greenL4;
        font-weight: 600;  
        
        transition: 0.3s ease;   
        
        &:hover {
            background-color: $greenL4;
            color: $pink;
            transition: 0.3s ease;            
        }        
    }

    &--disabled {
        background-color: #e4e4e4 !important;
        border: 1px solid #e4e4e4 !important;
        color: $pink !important;
        cursor: unset !important;
    }
}