@use '../base' as *;  

.diagram {
    
    color: $greenL4;
    padding: 125px 0;
    background-repeat: no-repeat;
    background-position: top;   
    
    &__container {
        width: 1460px;
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__data {
        display: none;
    }

    &__canvas {
        display: flex;
        justify-content: space-between;
        canvas {
            cursor: pointer;
        }
    }

    .canvas__wrapper {
        position: relative;

        .diagram__absolute{
            position: absolute;
            width: 100%;            
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -1;

            .diagram__center {
                p {
                    text-align: center;
                }       
            }            
        }
    }

    &__items {
        display: flex;
        flex-direction: column;      
        justify-content: space-between;
        gap: 20px;

        &--mob {
            display: none;
        }        
    }

    &__item {
        padding: 18px;
        border-radius: 24px;
        border: 1px solid $pink;
        cursor: pointer;

        &:hover {
            border: 1px solid $greenL4;
            .diagram__description {
                display: block;
            }
            .diagram__description--placeholder {
                display: none;
            }
        }

        &--active  {
            border: 1px solid $greenL4;
            .diagram__description {
                display: block;
            }
            .diagram__description--placeholder {
                display: none;
            }
        }
    }

    &__header {
        display: flex;
        gap: 20px;
        width: 100%;
        align-items: center;
    }

    &__number {
        background-color: $greenL3;
        border-radius: 50%;
        min-width: 46px;
        height: 46px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name {
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 4px;
    }

    &__percent {
        font-weight: 600;
        font-size: 20px;
    }

    &__description {

        display: none;
        margin-left: 20px;
        font-size: 18px;

        ul {
            list-style: disc;
        }
    }
    &__description--placeholder {

        margin-left: 20px;
        font-size: 18px;
        color: $pink;
    }    
}


@media (max-width: 1500px) {
    .diagram {
        
        &__container {
            width: 100%;
            padding: 0 20px;
        }

        &__canvas {            
            justify-content: center;
            gap: 20px;
        }

        
    }
}

@media (max-width: 1200px) {
    .diagram {
        
        .canvas__wrapper {

            .diagram__absolute{

                .diagram__center {
                    width: 60%;    
                }            
            }
        }

        
    }
}

@media (max-width: $mediaTablet) {
    .diagram {
        padding: 80px 0;



        &__mob {
            display: flex;
            justify-content: center;
            margin-bottom: 24px;
            margin-top: 40px;
        }

        &__items--web {
            display: none;
        }

        &__items--mob {
            display: flex;
           
        }

        
        .canvas__wrapper {

            .diagram__absolute{

                .diagram__center {
                    width: 80%;    
                }            
            }
        }        
    }
}


@media (max-width: 600px) {
    .diagram {
        .canvas__wrapper {

            .diagram__absolute{

                .diagram__center {
                    width: 60%;    
                }            
            }
        }        
    }
}
