@use '../base' as *; 

.site-header {
    height: 86px;
    padding: 19px 0;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: $pink;
    border-bottom: 1px solid $greenL4;     

    &__logo {

        img {
            @media (max-width: $mediaMobile) {
                width: 120px;
            }
        }

    }

    &__container {
        width: 100%;
        max-width: $containerWide;
        margin: 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        ul {
            display: flex;
            gap: 26px;

            li {

                position: relative;  
                
                a {
                    &::before {
                    content: attr(data-tracking);
                    font-weight: 700;
                    display: block;
                    visibility: hidden;
                    height: 0;                        
                    overflow: hidden;
                    }
                }

                &:hover {
                    
                    a {
                        font-weight: 700;                        
                    }
                   
                    .sub-menu {
                        display: flex;
                        flex-direction: column;
                        gap: unset;
                    }
                }

                .sub-menu {
                    display: none;
                    position: absolute;     
                    background-color: $pink;
                    width: 232px;                
                    padding-top: 23px;
                    z-index: 12;    

                    a {
                        text-transform: unset;
                        font-weight: 400 !important;
                        padding: 8px 16px;
                        color: $greenL4;
                        background-color: $pink;
                        transition: 0.3s ease;

                        &:hover {
                            color: white;
                            background-color: $greenL4;
                            transition: 0.3s ease;
                        }
                    }                                           
                }
            }

            li.current_page_item {
                a {
                    font-weight: 700;                        
                }
            }

            a {
                display: block;
                font-size: 14px;
                text-decoration: none;
                text-transform: uppercase;
                color: $greenL4;
                padding: 12px;
            }

            @media (max-width: $mediaLarge) {
                gap: 0;
            }
            
            @media (max-width: $mediaMiddle) {               
                a {
                    font-size: 12px;
                }
            }


            @media (max-width: $mediaTablet) {
                display: none;
            }
        }
    }

    &__nav-mobile {
        display: none;        
    }

    &__contacts {
        display: flex;
        gap: 7px;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $mediaLarge) {
            .icon--whatsapp, .icon--telegram {
                display: none;
            }
        }
    }

    &__language {
        font-size: 14px;
        color: $greenL4;
        margin-right: 16px;

        @media (max-width: $mediaMiddle) {
            display: none;
        }
    }

    &__burger {
        display: none;
        cursor: pointer;


        @media (max-width: $mediaTablet) {
            display: block;
            margin-left: 30px;
        }        

        @media (max-width: $mediaMobile) {            
            margin-left: 12px;
        }        
    }

    &__phone {
        @media (max-width: $mediaTiny) {            
            display: none;
        }      
    }
}

nav.mobile-nav {
    display: none;
}

@media (max-width: $mediaTablet) {
    .site-header {
        &__mobile {
            display: block;            
        }
    }

    nav.mobile-nav {
        display: block;    
        height: 0;
        position: absolute;
        top: 86px;
        left: 0;
        background-color: $pink;
        width: 100%;
        transition: all 0.3s ease-in;
        overflow: hidden;

        &--active {
            height: calc(100vh - 86px);
            transition: all 0.3s ease-in;
        }

        ul {
            margin-top: 0;

            .sub-menu {
                display: none;
            }

            li {

                a {
                    width: 100%;
                    padding: 12px 32px;
                    display: block;
                    transition: 0.3s ease;
                    color: $greenL4;

                    &:hover {
                        background-color: $greenL4;
                        color: $pink;
                        transition: 0.3s ease;
                    }
                }

            }
        }
    }
}    