@use '../base' as *; 

.polaroid {
    position: absolute;
    width: 332px;
    height: 396px;
    background-color: #f2f1eb;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid #3c3333;
    border-bottom: 1px solid #3c3333;
    padding: 14px 14px 85px 14px;

    img {
        width: 300px;
        height: 300px;
        border-top: 1px solid #3c3333;
        border-right: 1px solid #3c3333;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
    }

    &__placeholder {
        width: 332px;
        height: 396px;
    }
}

.polaroid--300 {

    width: 250px;
    height: 300px;
    padding: 12px 12px 65px 12px;

    img {
        width: 225px;
        height: 225px;
    }

    &__placeholder {
        width: 250px;
        height: 300px;
    }
}

.polaroid--flexible {

    @media (max-width: $mediaMiddle) {
        right: 20vh;
    }

    @media (max-width: 800px) {
        right: 5vh; 
    }

    @media (max-width: 650px) {
        width: 265px;
        height: 317px;

        img {
            width: 236px;
            height: 236px;
        }

        &__placeholder {
            width: 265px;
            height: 317px;
        }  
    }

    @media (max-width: $mediaMobile) {
        right: 2vh; 
        width: 200px;
        height: 238px;

        img {
            width: 170px;
            height: 170px;
        }

        &__placeholder {
            width: 200px;
            height: 238px;
        }  
    }
 
}