@use '../base' as *; 

.services {
    color: white;
    background-color: $greenL3;

    &__container {
        padding-top: 70px;
        padding-bottom: 60px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__items {
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;  
        gap: 20px;      
        color: white;
    }

    &__item {
        width: 300px;
        height: 313px;     
    }

    &__shadow {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        &:hover {
            background: rgba(0, 0, 0, 0.5);

            .services__header  {
                display: none;
            }

            .services__wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;               
            }
        }
    }

    &__header {
        text-transform: uppercase;
        font-size: 18px;
    }

    &__wrapper {
        display: none;
    }
    
    &__text {
        p {
            font-size: 14px;
            text-align: center;
        }

    }

    &__seemore {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}


.services-article {
    color: $greenL4;
    
    .container {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    .services-page {

        &__article {
            display: flex;
            gap: 95px;
            h3 {
                margin-bottom: 40px;
            }

            &-item {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;    
                background-position: center;
                background-size: cover;    
                min-height: 250px;        
            }

            p {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: $mediaTablet) {
    .services-article {
        
        .container {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        .services-page {

            &__article {
                flex-direction: column-reverse;
                gap: 45px;

                &-item {
                    width: 100%;           
                }
            }
        }
    }
}