@use '../base' as *; 

.floating-whatsapp {
    position: fixed;
    right: 20px;
    bottom: 20px;

    width: 60px;
    height: 60px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: $greenL4; /* WhatsApp green */
    color: #fff;
    text-decoration: none;

    box-shadow: 0 4px 12px rgba(0,0,0,.25);
    z-index: 13;

    transition: transform .2s ease;

    &:hover {
        transform: scale(1.1);
    }

    a {
        padding: 20px;
    }
}